/* 普通字体颜色 */
$text-color: var(--text-color);
$text-color1: var(--text-color1);
/* 按钮字体颜色 */
$text-color-reverse: var(--text-color-reverse);
/* tab字体颜色 */
$text-color-tab: var(--text-color-tab);

/* 普通背景颜色 */
$bg-color: var(--bg-color);

/* 普通阴影颜色 */
$bg-shadow: var(--bg-shadow);

/* 主题颜色 */
$theme-color: var(--theme-color);

:root {
  transition: all 0.5s;
}
